{{/*
Copyright 2019-present Facebook Inc. All rights reserved.
This source code is licensed under the Apache 2.0 license found
in the LICENSE file in the root directory of this source tree.
*/}}

{{/* gotype: entgo.io/ent/entc/gen.Graph */}}

{{ define "gql_collection" }}
{{ template "header" $ }}

import (
	"context"

	"github.com/99designs/gqlgen/graphql"
)

{{ range $node := filterNodes $.Nodes }}

{{ $receiver := $node.Receiver }}
{{ $query := $node.QueryName }}
// CollectFields tells the query-builder to eagerly load connected nodes by resolver context.
func ({{ $receiver }} *{{ $query }}) CollectFields(ctx context.Context, satisfies ...string) *{{ $query }} {
	if fc := graphql.GetFieldContext(ctx); fc != nil {
		{{ $receiver }} = {{ $receiver }}.collectField(graphql.GetOperationContext(ctx), fc.Field, satisfies...)
	}
	return {{ $receiver }}
}

func ({{ $receiver }} *{{ $query }}) collectField(ctx *graphql.OperationContext, field graphql.CollectedField, satisfies ...string) *{{ $query }} {
	{{- if $edges := fieldCollections (filterEdges $node.Edges) }}
		for _, field := range graphql.CollectFields(ctx, field.Selections, satisfies) {
			switch field.Name {
				{{- range $name, $values := $edges }}
					case {{ range $i, $value := $values.Mapping }}{{ if gt $i 0 }}, {{ end }}"{{ $value }}"{{ end }}:
						{{ $receiver }} = {{ $receiver }}.With{{ pascal $name }}(func(query *{{ pascal $values.Name }}Query) {
							query.collectField(ctx, field)
						})
				{{- end }}
			}
		}
	{{- end }}
	return {{ $receiver }}
}

{{ end }}
{{ end }}
