{{/*
Copyright 2019-present Facebook Inc. All rights reserved.
This source code is licensed under the Apache 2.0 license found
in the LICENSE file in the root directory of this source tree.
*/}}

{{/* gotype: entgo.io/ent/entc/gen.Type */}}

{{ define "meta/additional/graphql-enum" }}

{{ range $f := $.EnumFields }}
	{{ $enum := trimPackage $f.Type.String $.Package -}}
	{{- if not $f.HasGoType }}
		{{ $receiver := receiver $f.BuilderField -}}
		// MarshalGQL implements graphql.Marshaler interface.
		func ({{ $receiver }} {{ $enum }}) MarshalGQL(w io.Writer) {
			io.WriteString(w, strconv.Quote({{ $receiver }}.String()))
		}

		// UnmarshalGQL implements graphql.Unmarshaler interface.
		func ({{ $receiver }} *{{ $enum }}) UnmarshalGQL(val interface{}) error {
			str, ok := val.(string)
			if !ok {
				return fmt.Errorf("enum %T must be a string", val)
			}
			*{{ $receiver }} = {{ $enum }}(str)
			if err := {{ $f.Validator }}(*{{ $receiver }}); err != nil {
				return fmt.Errorf("%s is not a valid {{ $enum }}", str)
			}
			return nil
		}
	{{- else }}
		var (
			// {{ $enum }} must implement graphql.Marshaler.
			_ graphql.Marshaler = {{ $enum }}("")
			// {{ $enum }} must implement graphql.Unmarshaler.
			 _ graphql.Unmarshaler = (*{{ $enum }})(nil)
		)
	{{- end }}
{{ end }}
{{ end }}
