{{/*
Copyright 2019-present Facebook Inc. All rights reserved.
This source code is licensed under the Apache 2.0 license found
in the LICENSE file in the root directory of this source tree.
*/}}

{{ define "gql_node_descriptor_shared" }}

{{- /*gotype: entgo.io/contrib/entgql.nodeDescriptorSharedData*/ -}}

{{ $pkg := base $.Config.Package }}
{{ $.Config.Header }}

package {{ $pkg }}

{{ $gqlNodes := filterNodes $.Nodes (skipMode "type") }}
{{ $idType := gqlIDType $gqlNodes $.IDType }}

import (
	"context"

	{{- with $package := $idType.PkgPath }}
		"{{ $package }}"
	{{- end }}
)

// Node in the graph.
type Node struct {
	ID 	   {{ $idType }} `json:"id,omitempty"`// node id.
	Type   string   `json:"type,omitempty"`   // node type.
	Fields []*Field `json:"fields,omitempty"` // node fields.
	Edges  []*Edge  `json:"edges,omitempty"`  // node edges.
}

// Field of a node.
type Field struct {
	Type  string `json:"type,omitempty"`  // field type.
	Name  string `json:"name,omitempty"`  // field name (as in struct).
	Value string `json:"value,omitempty"` // stringified value.
}

// Edges between two nodes.
type Edge struct {
	Type string `json:"type,omitempty"` // edge type.
	Name string `json:"name,omitempty"` // edge name.
	IDs  []{{ $idType }} `json:"ids,omitempty"`  // node ids (where this edge point to).
}

{{/* Add the node api to the client */}}
// Node returns the node with given global ID.
//
// This API helpful in case you want to build
// an administrator tool to browser all types in system.
func (c *Client) Node(ctx context.Context, id {{ $idType }}) (*Node, error) {
	n, err := c.Noder(ctx, id)
	if err != nil {
		return nil, err
	}
	return n.Node(ctx)
}
{{ end }}
