{{/*
Copyright 2019-present Facebook Inc. All rights reserved.
This source code is licensed under the Apache 2.0 license found
in the LICENSE file in the root directory of this source tree.
*/}}

{{/* gotype: entgo.io/ent/entc/gen.Graph */}}

{{ define "gql_pagination" }}
{{ template "header" $ }}

{{- if ne $.Storage.Name "sql" }}
	{{ fail "pagination requires SQL storage" }}
{{- end }}

{{- if not (hasTemplate "gql_collection") }}
	{{ fail "pagination requires field collection" }}
{{- end }}

{{ $gqlNodes := filterNodes $.Nodes (skipMode "type") }}
{{ $idType := gqlIDType $gqlNodes $.IDType }}

{{ template "import" $ }}

import (
	"io"
	"strconv"
	"encoding/base64"

	{{- range $n := $gqlNodes }}
		"{{ $.Config.Package }}/{{ $n.Package }}"
	{{- end }}

	"entgo.io/ent/dialect/sql"
	"github.com/99designs/gqlgen/graphql"
	"github.com/99designs/gqlgen/graphql/errcode"
	"github.com/vektah/gqlparser/v2/gqlerror"
	"github.com/vmihailenco/msgpack/v5"
)

// OrderDirection defines the directions in which to order a list of items.
type OrderDirection string

const (
	// OrderDirectionAsc specifies an ascending order.
	OrderDirectionAsc OrderDirection  = "ASC"
	// OrderDirectionDesc specifies a descending order.
	OrderDirectionDesc OrderDirection = "DESC"
)

// Validate the order direction value.
func (o OrderDirection) Validate() error {
	if o != OrderDirectionAsc && o != OrderDirectionDesc {
		return fmt.Errorf("%s is not a valid OrderDirection", o)
	}
	return nil
}

// String implements fmt.Stringer interface.
func (o OrderDirection) String() string {
	return string(o)
}

// MarshalGQL implements graphql.Marshaler interface.
func (o OrderDirection) MarshalGQL(w io.Writer) {
	io.WriteString(w, strconv.Quote(o.String()))
}

// UnmarshalGQL implements graphql.Unmarshaler interface.
func (o *OrderDirection) UnmarshalGQL(val interface{}) error {
	str, ok := val.(string)
	if !ok {
		return fmt.Errorf("order direction %T must be a string", val)
	}
	*o = OrderDirection(str)
	return o.Validate()
}

func (o OrderDirection) reverse() OrderDirection {
	if o == OrderDirectionDesc {
		return OrderDirectionAsc
	}
	return OrderDirectionDesc
}

func (o OrderDirection) orderFunc(field string) OrderFunc {
	if o == OrderDirectionDesc {
		return Desc(field)
	}
	return Asc(field)
}

func cursorsToPredicates(direction OrderDirection, after, before *Cursor, field, idField string) []func(s *sql.Selector) {
	var predicates []func(s *sql.Selector)
	{{- range $cursor, $ops := dict "after" (list "GT" "LT") "before" (list "LT" "GT") }}
		if {{ $cursor }} != nil {
			if {{ $cursor }}.Value != nil {
				var predicate func([]string, ...interface{}) *sql.Predicate
				if direction == OrderDirectionAsc {
					predicate = sql.Composite{{ index $ops 0 }}
				} else {
					predicate = sql.Composite{{ index $ops 1 }}
				}
				predicates = append(predicates, func(s *sql.Selector) {
					s.Where(predicate(
						s.Columns(field, idField),
						{{ $cursor }}.Value, {{ $cursor }}.ID,
					))
				})
			} else {
				var predicate func(string, interface{}) *sql.Predicate
				if direction == OrderDirectionAsc {
					predicate = sql.{{ index $ops 0 }}
				} else {
					predicate = sql.{{ index $ops 1 }}
				}
				predicates = append(predicates, func(s *sql.Selector) {
					s.Where(predicate(
						s.C(idField),
						{{ $cursor }}.ID,
					))
				})
			}
		}
	{{- end }}
	return predicates
}

// PageInfo of a connection type.
type PageInfo struct {
	HasNextPage     bool    `json:"hasNextPage"`
	HasPreviousPage bool    `json:"hasPreviousPage"`
	StartCursor     *Cursor `json:"startCursor"`
	EndCursor       *Cursor `json:"endCursor"`
}

// Cursor of an edge type.
type Cursor struct {
	ID {{ $idType }} `msgpack:"i"`
	Value Value      `msgpack:"v,omitempty"`
}

// MarshalGQL implements graphql.Marshaler interface.
func (c Cursor) MarshalGQL(w io.Writer) {
	quote := []byte{'"'}
	w.Write(quote)
	defer w.Write(quote)
	wc := base64.NewEncoder(base64.RawStdEncoding, w)
	defer wc.Close()
	_ = msgpack.NewEncoder(wc).Encode(c)
}

// UnmarshalGQL implements graphql.Unmarshaler interface.
func (c *Cursor) UnmarshalGQL(v interface{}) error {
	s, ok := v.(string)
	if !ok {
		return fmt.Errorf("%T is not a string", v)
	}
	if err := msgpack.NewDecoder(
		base64.NewDecoder(
			base64.RawStdEncoding,
			strings.NewReader(s),
		),
	).Decode(c); err != nil {
		return fmt.Errorf("cannot decode cursor: %w", err)
	}
	return nil
}

const errInvalidPagination = "INVALID_PAGINATION"

func validateFirstLast(first, last *int) (err *gqlerror.Error) {
	switch {
	case first != nil && last != nil:
		err = &gqlerror.Error{
			Message: "Passing both `first` and `last` to paginate a connection is not supported.",
		}
	{{- range $arg := list "first" "last" }}
		case {{ $arg }} != nil && *{{ $arg }} < 0:
			err = &gqlerror.Error{
				Message: "`{{ $arg }}` on a connection cannot be less than zero.",
			}
			errcode.Set(err, errInvalidPagination)
	{{- end }}
	}
	return err
}

func collectedField(ctx context.Context, path ...string) *graphql.CollectedField {
	fc := graphql.GetFieldContext(ctx)
	if fc == nil {
		return nil
	}
	field := fc.Field
	oc := graphql.GetOperationContext(ctx)
walk:
	for _, name := range path {
		for _, f := range graphql.CollectFields(oc, field.Selections, nil) {
			if f.Alias == name {
				field = f
				continue walk
			}
		}
		return nil
	}
	return &field
}

func hasCollectedField(ctx context.Context, path ...string) bool {
	if graphql.GetFieldContext(ctx) == nil {
		return true
	}
	return collectedField(ctx, path...) != nil
}

const (
	{{- range $field := list "edges" "node" "pageInfo" "totalCount" }}
		{{ $field }}Field = "{{ $field }}"
	{{- end }}
)

func paginateLimit(first, last *int) int {
	var limit int
	if first != nil {
		limit = *first+1
	} else if last != nil {
		limit = *last+1
	}
	return limit
}

{{ range $node := $gqlNodes -}}
{{ $orderFields := orderFields $node }}

{{ $names := nodePaginationNames $node -}}
{{ $name := $names.Node -}}

{{- if not (eq $name $node.Name) }}
// {{ $name }} is the type alias for {{ $node.Name }}.
type {{ $name }} = {{ $node.Name }}
{{- end}}

{{ $edge := $names.Edge -}}
// {{ $edge }} is the edge representation of {{ $name }}.
type {{ $edge }} struct {
	Node *{{ $name }} `json:"node"`
	Cursor Cursor     `json:"cursor"`
}

{{ $conn := $names.Connection }}
// {{ $conn }} is the connection containing edges to {{ $name }}.
type {{ $conn }} struct {
	Edges []*{{ $edge }} `json:"edges"`
	PageInfo PageInfo    `json:"pageInfo"`
	TotalCount int       `json:"totalCount"`
}

{{ $pager := print (camel $name) "Pager" }}

func (c *{{ $conn }}) build(nodes []*{{ $name }}, pager *{{ $pager }}, after *Cursor, first *int, before *Cursor, last *int) {
	c.PageInfo.HasNextPage = before != nil
	c.PageInfo.HasPreviousPage = after != nil
	if first != nil && *first+1 == len(nodes) {
		c.PageInfo.HasNextPage = true
		nodes = nodes[:len(nodes)-1]
	} else if last != nil && *last+1 == len(nodes) {
		c.PageInfo.HasPreviousPage = true
		nodes = nodes[:len(nodes)-1]
	}
	var nodeAt func(int) *{{ $name }}
	if last != nil {
		n := len(nodes) - 1
		nodeAt = func(i int) *{{ $name }} {
			return nodes[n-i]
		}
	} else {
		nodeAt = func(i int) *{{ $name }} {
			return nodes[i]
		}
	}
	c.Edges = make([]*{{ $edge }}, len(nodes))
	for i := range nodes {
		node := nodeAt(i)
		c.Edges[i] = &{{ $edge }}{
			Node: node,
			Cursor: pager.toCursor(node),
		}
	}
	if l := len(c.Edges); l > 0 {
		c.PageInfo.StartCursor = &c.Edges[0].Cursor
		c.PageInfo.EndCursor = &c.Edges[l-1].Cursor
	}
	if c.TotalCount == 0 {
		c.TotalCount = len(nodes)
	}
}

{{ $opt := print $name "PaginateOption" }}
// {{ $opt }} enables pagination customization.
type {{ $opt }} func(*{{ $pager }}) error

{{ $order := $names.Order -}}
{{ $optOrder := print "With" $order -}}
// {{ $optOrder }} configures pagination ordering.
func {{ $optOrder }}(order *{{ $order }}) {{ $opt }} {
	if order == nil {
		{{- $defaultOrder := print "Default" $name "Order" }}
		order = {{ $defaultOrder }}
	}
	o := *order
	return func(pager *{{ $pager }}) error {
		if err := o.Direction.Validate(); err != nil {
			return err
		}
		if o.Field == nil {
			o.Field = {{ $defaultOrder }}.Field
		}
		pager.order = &o
		return nil
	}
}

{{ $query := print $node.QueryName -}}
{{ $optFilter := print "With" $name "Filter" -}}
// {{ $optFilter }} configures pagination filter.
func {{ $optFilter }}(filter func(*{{ $query }}) (*{{ $query }}, error)) {{ $opt }} {
	return func(pager *{{ $pager }}) error {
		if filter == nil {
			return errors.New("{{ $query }} filter cannot be nil")
		}
		pager.filter = filter
		return nil
	}
}

type {{ $pager }} struct {
	order *{{ $order }}
	filter func(*{{ $query }}) (*{{ $query }}, error)
}

{{ $newPager := print "new" $name "Pager" -}}
func {{ $newPager }}(opts []{{ $opt }}) (*{{ $pager }}, error) {
	pager := &{{ $pager }}{}
	for _, opt := range opts {
		if err := opt(pager); err != nil {
			return nil, err
		}
	}
	if pager.order == nil {
		pager.order = {{ $defaultOrder }}
	}
	return pager, nil
}

func (p *{{ $pager }}) applyFilter(query *{{ $query }}) (*{{ $query }}, error) {
	if p.filter != nil {
		return p.filter(query)
	}
	return query, nil
}

{{ $r := $node.Receiver }}
func (p *{{ $pager }}) toCursor({{ $r }} *{{ $name }}) Cursor {
	return p.order.Field.toCursor({{ $r }})
}

func (p *{{ $pager }}) applyCursors(query *{{ $query }}, after, before *Cursor) *{{ $query }} {
	for _, predicate := range cursorsToPredicates(
		p.order.Direction, after, before,
		p.order.Field.field, {{ $defaultOrder }}.Field.field,
	) {
		query = query.Where(predicate)
	}
	return query
}

func (p *{{ $pager }}) applyOrder(query *{{ $query }}, reverse bool) *{{ $query }} {
	direction := p.order.Direction
	if reverse {
		direction = direction.reverse()
	}
	query = query.Order(direction.orderFunc(p.order.Field.field))
	if p.order.Field != {{ $defaultOrder }}.Field {
		query = query.Order(direction.orderFunc({{ $defaultOrder }}.Field.field))
	}
	return query
}

func (p *{{ $pager }}) orderExpr(reverse bool) sql.Querier {
	direction := p.order.Direction
	if reverse {
		direction = direction.reverse()
	}
	return sql.ExprFunc(func(b *sql.Builder) {
		b.Ident(p.order.Field.field).Pad().WriteString(string(direction))
		if p.order.Field != {{ $defaultOrder }}.Field {
			b.Comma().Ident({{ $defaultOrder }}.Field.field).Pad().WriteString(string(direction))
		}
	})
}

// Paginate executes the query and returns a relay based cursor connection to {{ $name }}.
func ({{ $r }} *{{ $query }}) Paginate(
	ctx context.Context, after *Cursor, first *int,
	before *Cursor, last *int, opts ...{{ $opt }},
) (*{{ $conn }}, error) {
	{{- with extend $ "Node" $node "Query" $r -}}
		{{ template "gql_pagination/helper/paginate" . }}
	{{- end -}}
}

{{ $orderField := $names.OrderField -}}
{{- if $orderFields }}
	var (
		{{- range $f := $orderFields }}
			{{- $var := print $orderField $f.StructField }}
			// {{ $var }} orders {{ $name }} by {{ $f.Name }}.
			{{ $var }} = &{{ $orderField }}{
				field: {{ $node.Package }}.{{ $f.Constant }},
				toCursor: func({{ $r }} *{{ $name }}) Cursor {
					{{- $marshalID := and $idType.Mixed (gqlMarshaler $node.ID) }}
					return Cursor{
						ID: {{ $r }}.{{ if $marshalID }}marshalID(){{ else }}ID{{ end }},
						Value: {{ $r }}.{{ $f.StructField }},
					}
				},
			}
		{{- end }}
	)

	// String implement fmt.Stringer interface.
	func (f {{ $orderField }}) String() string {
		var str string
		switch f.field {
			{{- range $f := $orderFields }}
				case {{ $node.Package }}.{{ $f.Constant }}:
					str = "{{ $f.Annotations.EntGQL.OrderField }}"
			{{- end }}
		}
		return str
	}

	// MarshalGQL implements graphql.Marshaler interface.
	func (f {{ $orderField }}) MarshalGQL(w io.Writer) {
		io.WriteString(w, strconv.Quote(f.String()))
	}

	// UnmarshalGQL implements graphql.Unmarshaler interface.
	func (f *{{ $orderField }}) UnmarshalGQL(v interface{}) error {
		str, ok := v.(string)
		if !ok {
			return fmt.Errorf("{{ $orderField }} %T must be a string", v)
		}
		switch str {
			{{- range $f := $orderFields }}
				case "{{ $f.Annotations.EntGQL.OrderField }}":
					*f = *{{ print $orderField $f.StructField }}
			{{- end }}
		default:
			return fmt.Errorf("%s is not a valid {{ $orderField }}", str)
		}
		return nil
	}
{{- end }}

// {{ $orderField }} defines the ordering field of {{ $node.Name }}.
type {{ $orderField }} struct {
	field string
	toCursor func(*{{ $name }}) Cursor
}

// {{ $order }} defines the ordering of {{ $node.Name }}.
type {{ $order }} struct {
	Direction OrderDirection `json:"direction"`
	Field *{{ $orderField }} `json:"field"`
}

// {{ $defaultOrder }} is the default ordering of {{ $node.Name }}.
var {{ $defaultOrder }} = &{{ $order }}{
	Direction: OrderDirectionAsc,
	Field: &{{ $orderField }}{
		field: {{ $node.Package }}.{{ $node.ID.Constant }},
		toCursor: func({{ $r }} *{{ $name }}) Cursor {
			{{- $marshalID := and $idType.Mixed (gqlMarshaler $node.ID) }}
			return Cursor{ID: {{ $r }}.{{ if $marshalID }}marshalID(){{ else }}ID{{ end }}}
		},
	},
}

// ToEdge converts {{ $name }} into {{ $edge }}.
func ({{ $r }} *{{ $name }}) ToEdge(order *{{ $order }}) *{{ $edge }} {
	if order == nil {
		order = {{ $defaultOrder }}
	}
	return &{{ $edge }}{
		Node:   {{ $r }},
		Cursor: order.Field.toCursor({{ $r }}),
	}
}

{{- end }}
{{ end }}

{{ define "gql_pagination/helper/paginate" }}
	{{- $node := $.Scope.Node }}
	{{- $r := $.Scope.Query }}
	{{- $names := nodePaginationNames $node }}
	{{- $name := $names.Node }}
	{{- $order := $names.Order }}
	{{- $edge := $names.Edge }}
	{{- $conn := $names.Connection }}
	{{- $newPager := print "new" $name "Pager" -}}

	if err := validateFirstLast(first, last); err != nil {
		return nil, err
	}
	pager, err := {{ $newPager }}(opts)
	if err != nil {
		return nil, err
	}
	if {{ $r }}, err = pager.applyFilter({{ $r }}); err != nil {
		return nil, err
	}
	{{- /* Ensure the "edges" field is marshaled as "[]" in case it is empty. */}}
	conn := &{{ $conn }}{Edges: []*{{ $edge }}{}}
	ignoredEdges := !hasCollectedField(ctx, edgesField)
	if hasCollectedField(ctx, totalCountField) || hasCollectedField(ctx, pageInfoField) {
		hasPagination := after != nil || first != nil || before != nil || last != nil
		if hasPagination || ignoredEdges {
			if conn.TotalCount, err = {{ $r }}.Clone().Count(ctx); err != nil {
				return nil, err
			}
			conn.PageInfo.HasNextPage = first != nil && conn.TotalCount > 0
			conn.PageInfo.HasPreviousPage = last != nil && conn.TotalCount > 0
		}
		{{- /* TotalCount will be settled by conn.build() */}}
	}
	if ignoredEdges || (first != nil && *first == 0) || (last != nil && *last == 0) {
		return conn, nil
	}

	{{ $r }} = pager.applyCursors({{ $r }}, after, before)
	{{ $r }} = pager.applyOrder({{ $r }}, last != nil)
	if limit := paginateLimit(first, last); limit != 0 {
		{{ $r }}.Limit(limit)
	}
	if field := collectedField(ctx, edgesField, nodeField); field != nil {
		if err := {{ $r }}.collectField(ctx, graphql.GetOperationContext(ctx), *field, []string{edgesField, nodeField}); err != nil {
			return nil, err
		}
	}

	nodes, err := {{ $r }}.All(ctx)
	if err != nil {
		return nil, err
	}
	conn.build(nodes, pager, after, first, before, last)
	return conn, nil
{{ end }}
