{{ define "enums" }}
    {{ $root := . }}
    {{ range .FieldMap.Enums }}
        {{ $enumType := .PbFieldDescriptor.GetEnumType }}
        {{ $enumName := print $root.EntType.Name "_" $enumType.GetName }}
        {{ $pbEnumIdent := $root.File.GoImportPath.Ident $enumName   }}
        {{ $entLcase := camel $root.EntType.Name }}
        {{ $entEnumIdent := entIdent $entLcase .PbStructField }}
        func ToProto{{ $pbEnumIdent.GoName }} (e {{ ident $entEnumIdent  }}) {{ ident $pbEnumIdent }} {
        if v, ok := {{ $pbEnumIdent.GoName }}_value[{{ qualify "strings" "ToUpper" }}(string(e))]; ok {
        return {{ $pbEnumIdent | ident }}(v)
        }
        return {{ $pbEnumIdent | ident }}(0)
        }

        func toEnt{{ $pbEnumIdent.GoName }}(e {{ ident $pbEnumIdent }}) {{ ident $entEnumIdent  }} {
            if v, ok := {{ $pbEnumIdent.GoName }}_name[int32(e)]; ok {
                return {{ ident $entEnumIdent }}({{ qualify "strings" "ToLower" }}(v))
            }
            return ""
        }
    {{ end}}
{{ end }}