{{- /*gotype: entgo.io/contrib/entproto/cmd/protoc-gen-entgrpc.methodInput*/ -}}
{{ define "method_get" }}
    {{- $g := .G -}}
    {{- $idField := $g.FieldMap.ID -}}
    {{- $varName := $idField.EntField.Name -}}
    {{- $inputName := .Method.Input.GoIdent.GoName -}}
    var (
        err error
        get *{{ $g.EntPackage.Ident $g.EntType.Name | ident }}
    )
    {{- template "field_to_ent" dict "Field" $idField "VarName" $idField.EntField.Name "Ident" (print "req.Get" $idField.PbStructField "()") }}
    switch req.GetView() {
        case {{ $inputName }}_VIEW_UNSPECIFIED, {{ $inputName }}_BASIC:
            get, err = svc.client.{{ $g.EntType.Name }}.Get(ctx, {{ $varName }})
        case {{ $inputName }}_WITH_EDGE_IDS:
            get, err = svc.client.{{ $g.EntType.Name }}.Query().
            Where({{ qualify (print (unquote $g.EntPackage.String) "/" $g.EntType.Package) "ID" }}({{ $varName }})).
            {{ range $g.FieldMap.Edges }}
                {{- $et := .EntEdge.Type -}}
                With{{ .EntEdge.StructField }}(func(query *ent.{{ $et.Name }}Query) {
                    query.Select({{  qualify (print (unquote $g.EntPackage.String) "/" $et.Package ) $et.ID.Constant  }})
                }).
            {{ end }}
            Only(ctx)
        default:
            return nil, {{ statusErr "InvalidArgument" "invalid argument: unknown view"}}
    }
    switch {
        case err == nil:
            return toProto{{ $g.EntType.Name }}(get)
        case {{ $g.EntPackage.Ident "IsNotFound" | ident }}(err):
            return nil, {{ statusErrf "NotFound" "not found: %s" "err" }}
        default:
            return nil, {{ statusErrf "Internal" "internal error: %s" "err" }}
    }
    return nil, nil
{{ end }}